<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Stream</title>
</head>
<body>
    <h1>Camera Stream</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <p id="faceCount">Number of People Detected: 0</p>
    <script>
        var video = document.getElementById('video');
        var faceCountElement = document.getElementById('faceCount');

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;

                var eventSource = new EventSource('/video_feed');
                eventSource.onmessage = function (event) {
                    var data = JSON.parse(event.data);
                    faceCountElement.innerHTML = 'Number of People Detected: ' + data.count;
                };
            })
            .catch(function (err) {
                console.error('Error accessing the camera: ', err);
            });
    </script>
</body>
</html>
